{% set current = 'about' %}
{% extends 'layouts/basic.html' %}

{% block body %}
<main class="site-main" role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">ABOUT ME</h1>
      <p class="lead text-muted">MAKE IT BETTER!</p>
      <p>
        <a href="{{ pkg.author.url }}" class="btn btn-secondary my-3">Follow me</a>
      </p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container text-center">
      <img class="img-fluid w-50" src="assets/images/logo.png" alt="{{ pkg.name }}'s logo">
    </div>
  </div>

</main>
{% endblock %}
