<footer class="site-footer">
  <div class="container text-muted">
    <p class="d-flex flex-column flex-md-row justify-content-between align-items-center ">
      <span class="mb-2">&copy; {{ date | date('Y') }} <a href="{{ pkg.homepage }}">{{ pkg.name }}</a>. All Rights Reserved.</span>
      <span class="mb-2">&lt;/&gt; with <i class="heart">&hearts;</i> by <a href="{{ pkg.author.url }}">{{ pkg.author.name }}</a></span>
    </p>
    <p class="text-center"><a id="scroll_top" href="#">Back to top &uparrow;</a></p>
  </div>
</footer>
